layout {
	gaps 1
	center-focused-column "on-overflow"

	preset-column-widths {
		proportion 0.66667
		proportion 1.0
		proportion 0.5
	}

	preset-window-heights {
		proportion 0.33334
		proportion 0.5
		proportion 0.66667
		proportion 1.0
	}

	default-column-width { proportion 1.0; }

	focus-ring {
		width 2
		inactive-color "#96969696"
		active-gradient from="#ffdd33" to="#969696" angle=0
	}

	shadow {
		// on
		softness 30
		spread 5
		offset x=0 y=5
		color "#0007"
	}

	struts {
		// left 64
		// right 64
		// top 64
		// bottom 64
	}
	tab-indicator {
		width 3
		length total-proportion=1.0
		position "bottom"
		place-within-column
	}
}
