spawn-at-startup "waybar"
spawn-at-startup "wl-clip-persist -c regular"
spawn-at-startup "hyprpaper"
spawn-at-startup "blueman-applet"

prefer-no-csd

hotkey-overlay {
	skip-at-startup
}

// screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
screenshot-path null

cursor {
	xcursor-theme "Bibata-Modern-Classic"
	xcursor-size 24

	hide-when-typing
	hide-after-inactive-ms 1000
}
environment {
	TERMINAL "alacritty"
	TERM "alacritty"
	QT_QPA_PLATFORM "wayland"
	ELECTRON_OZONE_PLATFORM_HINT "auto"
	_JAVA_AWT_WM_NONREPARENTING "1"
	NVD_BACKEND "direct"
	LIBVA_DRIVER_NAME "nvidia"
	__GLX_VENDOR_LIBRARY_NAME "nvidia"
	GBM_BACKEND "nvidia-drm"
	ENABLE_VULKAN_RENDERER "1"
}

xwayland-satellite {
	path "xwayland-satellite"
}
