window-rule {
	match title="^btop$"
	open-floating true
}
window-rule {
	match title="^nvtop$"
	open-floating true
}
window-rule {
  match app-id="^dde-calendar$"
	open-floating true
}
window-rule {
  match app-id="^blueman-manager$"
  open-floating true
}
window-rule {
  match app-id="^nm-connection-editor$"
  open-floating true
}
window-rule {
  match app-id="^org.pulseaudio.pavucontrol$"
	open-floating true
}
window-rule {
	match app-id="^Picture in picture$"
	open-floating true
}
