* {
	all: unset;
	font-family: "FiraCode Nerd Font Mono";
	font-weight: bold;
	min-height: 0;
	font-size: 20px;
	font-feature-settings: '"zero"';
}

window#waybar {
	background-color: rgba(24,24,24, 0.9);
	border-top: 1px solid #969696;
	border-left: 1px solid #969696;
	border-right: 1px solid #969696;
	border-bottom: 1px solid #969696;
}

tooltip {
	background-color: #181818;
	padding: 15px;
	border: 1.5px solid #969696;
}
tooltip label {
	margin: 5px 10px;
}
#info {
	color: #94A89E
}

#custom-separator {
	color: #453d41;
}

#workspaces button label {
	font-size: 25px;
}

#window label {
	color: #9D94C6;
}

#idle_inhibitor,
#pulseaudio{
	font-size: 30px;
}
#pulseaudio.muted {
	font-size: 28px;
}

#custom-notifications {
	margin-right: 5px;
}

#tray {
	margin-right: 15px;
}
#tray menu {
	background-color: #181818;
	padding: 10px;
	border: 1.5px solid #969696;
}

#tray menu menuitem {
	padding: 5px;
}

#tray menu menuitem:hover {
	background-color: #303030;
	margin: 1.5px;
}

#tray menu menuitem:disabled {
	color: #453d41;
}
