window {
	background-color: rgba(24,24,24, 0.7);
	font-size: 24pt;
}

button {
	box-shadow: none;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20%;
	background-color: #181818;
	animation: gradient_f 10s ease-in infinite;
	border-radius: 80px;
	border: 0;
	outline-style: none;
	color: transparent;
}

button label {
	opacity: 0;
	color: transparent;
}

button:focus {
	border: 2px solid #96a6c8;
}
button:hover,
button:active {
	box-shadow: none;
	outline: none;
	border: none;
	background-color: #96a6c8;
	color: transparent;
	text-shadow: none;
	border-radius: 80px;
	margin: 30px;
}


#lock {
    background-image: image(url("./icons/lock.png"));
}
#logout {
    background-image: image(url("./icons/logout.png"));
}
#suspend {
    background-image: image(url("./icons/sleep.png"));
}
#shutdown {
    background-image: image(url("./icons/power.png"));
}
#reboot {
    background-image: image(url("./icons/restart.png"));
}
#hibernate {
    background-image: image(url("./icons/hibernate.png"));
}
